
<div class="d-flex justify-content-between mb-3">
  <h2>Products</h2>
  <%= link_to "Add Product", new_admin_product_path, class: "btn btn-dark"%>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <th scope="row" class="product-name"><%= product.name %></th>
      <td><%= product.price %></td>
      <td><%= product.category.nil? ? '' : product.category.name %></td>
      <td><%= product.brand.nil? ? '' : product.brand.name %></td>
      <td><%= link_to 'EDIT', edit_admin_product_path(product) %></td>
    </tr>
    <% end %>
  </tbody>
</table>