<h4 class="my-4">Categories</h4>
<div class="list-group">
  <% Category.all.each do |category| %>
    <%= link_to category.name, request.params.except(:price_range_ids, :commit).merge(category_id: category.id), class: "list-group-item" %>
  <% end %>
</div>

<h4 class="my-4">Brands</h4>
<div class="list-group">
  <% Brand.all.each do |brand| %>
    <%= link_to brand.name, request.params.except(:price_range_ids, :commit).merge(brand_id: brand.id), class: "list-group-item" %>
  <% end %>
</div>

<% if request.params[:brand_id] || request.params[:category_id] %>
  <h4 class="my-4">Price Ranges</h4>
  <%= form_tag("/", method: :get) do %>
    <% PriceRange.all.each do |price_range| %>
      <div class="form-check">
        <% if params[:price_range_ids]&.include?(price_range.id.to_s)%>
          <%= check_box_tag("price_range_ids[]", price_range.id, true, class: "checkbox") %>
        <% else %>
          <%= check_box_tag("price_range_ids[]", price_range.id, false, class: "checkbox") %>
        <% end %>
        <%= price_range.name %>
      </div>
    <% end %>

    <%= hidden_field_tag :category_id, params[:category_id] if params[:category_id] %>
    <%= hidden_field_tag :brand_id, params[:brand_id] if params[:brand_id] %>
    <%= submit_tag('Filter', name: nil, class: 'btn btn-block btn-outline-primary' ) %>
  <% end %>
<% end %>
