<div class="col-lg-6 offset-lg-3">
  <div class="card h-100">
    <%= image_tag( @product.main_image_path, class: 'card-img-top product-img') %>
    <div class="card-body">
      <h4 class="card-title product-name text-center">
        <%= @product.name %>
      </h4>
      <h5 class="product-price">
        <%= @product.price %> USD
      </h5>
      <p class="card-text product-description">
       <%= @product.description %>
      </p>
      <div class="add-to-cart">
        <%= @product.add_to_cart_button%>
      </div>
    </div>
  </div>
</div>
