<div class="col-lg-6 offset-lg-3">
  <div class="card h-100">
    <a href="#"><%= image_tag( @product.main_image_path, class: 'card-img-top') %></a>
    <div class="card-body">
      <h4 class="card-title product-name text-center">
        <%= @product.name %>
      </h4>
      <h5 class="product-price">
        <%= @product.price %> USD
      </h5>
      <%= @product.brand_info %>
      <div class="card-text product-description">
       <%= @product.description %>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="card-footer">
      <%= button_to 'Add to Cart', add_to_cart_path(product_id: @product.id), 
          class: "btn btn-small btn-block btn-outline-secondary" %>
    </div>
    <% end %>
  </div>
</div>