

<div class="col-lg-6 offset-lg-3">
  <div class="card h-100">
    <a href="#"><%= image_tag( @product.main_image_path, class: 'card-img-top') %></a>
    <div class="card-body">
      <h4 class="card-title">
        <%= @product.name %>
      </h4>
      <p>Brand: <%= @product.brand&.name %></p>
      <h5><%= @product.price %> USD</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
    </div>
    <% if user_signed_in? %>
    <div class="card-footer">
      <%= button_to 'Add to Cart', add_to_cart_path(product_id: @product.id), 
          class: "btn btn-small btn-block btn-outline-secondary" %>
    </div>
    <% end %>
  </div>
</div>