<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Lovers Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'admin/navigation' %>
      <div class="container-fluid d-flex flex-column">
        <div class="row" style="height:100vh">
            <%= render 'admin/sidebar' %>
            <div class="col-md-10 pt-3 px-4">
                <%= render 'flash_messages' %>
              <%= yield %>
            </div>
        </div>
      </div>
  </body>
  <%= javascript_pack_tag 'application' %>
</html>
